           html,
           body {
               font-family: 'Lato', sans-serif;
               color: #1d1d1d;
               padding: 0px;
               margin: 0px;
           }

           .example-marquee {
               position: relative;

           }

           .content {
               display: table;
               width: 100%;
               min-height: 100vh;
               z-index: 1;
               position: relative;
           }

           .content .inner {
               float: left;
               padding-top: 750px;
               padding-left: 50px;
               color: white;
               width: 100%;
           }

           .content .inner h1 {
               float: left;
               padding-top: 750px;
               padding-left: 50px;
               color: white;
           }


           .video-background-controls button {
               font-size: 32px;
               display: inline-block;
               padding: 0px;
               margin: 0px;
               height: 32px;
               width: 32px;
               border-radius: 16px;
               line-height: 32px;
               border: none;
               background: none;
               -webkit-appearance: none;
               color: white;
               filter: drop-shadow(0px 0px 1px black);
               cursor: pointer;
               opacity: 1;
               transition: all 250ms ease-in-out;
               margin-left: 10px;
           }

           .ytbg {}

           .video-background-controls button:hover {
               opacity: 0.5;
           }

           iframe {
               transition: opacity 500ms ease-in-out;
               transition-delay: 250ms;
           }

           .container-fluid {
               padding: 0% !important;
               font-family: 'Times New Roman', Times, serif;
               font-size: 20px;
           }

           .terms {
               display: flex;
               width: 100%;
           }

           .terms>p {
               margin: 20px;
           }
           .barra1 {
               width: 222px;
               float: center;
           }

           .mision {
               padding-top: 500px;

           }
           .isotipomision {
               width: 100%;
               float: right;
               padding: 0px;
               background-color: rgb(23, 114, 43);
           }
           .textmision {
               float:left;
               padding: 0px;
               background-color: rebeccapurple;
           }

           .portafolio {
               padding-top: 250px;
               background-color: rgb(7, 211, 211);

           }

           footer {
               padding-top: 250px;
               margin: 1px;
               background-color: rebeccapurple;
           }

           .isotipobot {
               width: 50%;
               float: center;
           }